<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>mail</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<form th:action="@{/mail}" method="post">
    <input name="title" placeholder="제목"> <br>
    <input name="address" placeholder="이메일 주소"> <br>
    <textarea name="message" placeholder="메일 내용을 입력해주세요." cols="60" rows="20"></textarea>
    <button>발송</button>
</form>
</body>
</html>

